{% macro nav_entry(slug, current, label) %}
{% spaceless %}
{% if current == slug %}
<a class="active" href="{{ pcurl(slug) }}">{{ label }}</a>
{% else %}
<a href="{{ pcurl(slug) }}">{{ label }}</a>
{% endif %}
{% endspaceless %}
{% endmacro %}

<!doctype html>
<html>
<head>
  <title>{{ site.title }}{% if page.title is not empty %} &mdash; {{ page.title }}{% endif %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="description" content="{{ site.description }}" />
	<meta name="author" content="{{ site.author }}" />
  <link rel="stylesheet" href="{{site.root}}css/bootstrap.min.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="{{site.root}}css/site.css" type="text/css" media="screen, projection" />
</head>
<body>

    <div class="container">

      <div class="row">
        <div id="page_head">
          <div id="region_head_logo" class="span12">
          {% block header %}
              <h1><a href="{{ site.root }}">{{ site.title }}</a></h1>
              <h2>The Functional-Style PHP Micro-framework Built for REST APIs</h2>
          {% endblock %}
          </div>
        </div>
      </div>

      <div class="row">
        <div id="page_main" class="span8">
          <div class="inside">
            {% block content %}
                {{ content|raw }}
            {% endblock %}
          </div>
        </div>

        <div id="page_side" class="span4">
          <div class="inside">
            <!-- content -->
            <div class="well sidebar-nav">
              <ul class="nav nav-list">
                <li>{{ _self.nav_entry('', page.slug, 'Home') }}</li>
                <li>{{ _self.nav_entry('docs', page.slug, 'Documentation') }}
                  <ul>
                    <li>{{ _self.nav_entry('docs/install', page.slug, 'Installation Guide') }}
                    <li>{{ _self.nav_entry('docs/organization', page.slug, 'Project Organization') }}
                    <li>{{ _self.nav_entry('docs/events', page.slug, 'Event Handling') }}
                    <li>{{ _self.nav_entry('docs/path-callbacks-handlers', page.slug, 'Path Callbacks & Handlers') }}
                    <li>{{ _self.nav_entry('docs/param-callbacks', page.slug, 'Param Callbacks') }}
                    <li>{{ _self.nav_entry('docs/templates', page.slug, 'Templates & Views') }}
                    <li>{{ _self.nav_entry('docs/sub-requests', page.slug, 'Nested Sub-Requests') }}
                    <li>{{ _self.nav_entry('docs/request', page.slug, 'Request') }}
                    <li>{{ _self.nav_entry('docs/response', page.slug, 'Response') }}
                  </ul>
                </li>
                <li>{{ _self.nav_entry('blog', page.slug, 'Blog') }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <footer id="page_foot">
        <div class="row">
          <div id="region_foot" class="span9">
            <div class="inside">
              {% block footer %}
                <p>Using Bullet in an awesome project? <a href="http://twitter.com/vlucas">Let me know</a>!</p>
                <p>BulletPHP &copy; 2012 <a href="http://www.vancelucas.com">Vance Lucas</a> from <a href="http://brightbit.com">Brightbit</a>. All rights reserved. Open source under the <a href="http://www.opensource.org/licenses/bsd-license.php">BSD license</a>.</p>
              {% endblock %}
            </div>
          </div>
          <div class="span3 right">
            <div class="inside">
              <a href="http://brightbit.com">Built by Brightbit</a><br />
              <small>Site powered by <a href="http://bolt80.com/piecrust/">PieCrust</a></small>
            </div>
          </div>
        </div>
      </footer>
    </div> <!-- /container -->

    <!-- Github Badge -->
    <a href="http://github.com/vlucas/bulletphp"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>

    <!-- GA Tracker Code -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-359731-31']);
      _gaq.push(['_setDomainName', 'bulletphp.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

	{{ piecrust.debug_info|raw }}
</body>
</html>
